// header ===================================================================================================================
.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  max-width: 740px;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__body {
    border: 1px solid #e6e6e6;
    background-color: #f6f6f6;
    padding: 10px 5% 10px 10%;
  }
  &__days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &.active {
      span:nth-child(2) {
        color: #fff;
        position: relative;
        z-index: 10;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: 40px;
          height: 40px;
          transform: translate(-50%, -50%);
          z-index: -1;
          border-radius: 50%;
          background-color: #ff3131;
        }
      }
    }
    span:first-child {
      font-weight: 500;
    }
    span:nth-child(2) {
      font-size: 1.25rem;
    }
  }
  &__month-and-year {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 1.2rem;
    }
    
  }
}

// main ===================================================================================================================
.table {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  &__hours {
    display: flex;
    flex-direction: column;
    color: #c3c3c3;
    span {
      height: 40px;
    }
  }
  &__content {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    border-left: none;
  }
}

.arrow {
  border: solid #ff3131;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

// footer ===================================================================================================================

.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  max-width: 740px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: 740px) {
  .header {
    width: 740px;
  }
  .footer {
    width: 740px;
  }
}
